body, html {
    margin: 0;
    font-family: sans-serif;
    background-image: url('76997.jpg');
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}
