{% extends 'base.html' %}

{% block body %}
	<table class="table">
		
		<tr>
			<th>Operation</th>
			<th>Value</th>
			<th>Date</th>
		</tr>

		{% for i in eve[::-1] %}
		<tr>
			<td>
				{{ i.type }}
			</td>
			<td>
				{{ i.value }}
			</td>
			<td>
				{{ i.date_created.date() }}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}