{% extends 'base.html' %}

{% block head %}
	<title>Event Page</title>
{% endblock %}

{% block body %}
	<div class="form" style="float: right; margin-right: 835px; margin-top: 50px;">
		<form action="/event" method="POST">
			<h1>Operation Panel</h1>
  			<p>Please select your choice:</p>
  			<input type="radio" id="INCREMENT" name="type" value="INCREMENT">
  			<label for="INCREMENT">INCREMENT</label><br>
  			<input type="radio" id="DECREMENT" name="type" value="DECREMENT">
  			<label for="DECREMENT">DECREMENT</label><br><br>
  			<input type="number" name="value" placeholder="5"><br><br>
  			<input type="submit" name="Submit">
	</div>
	<div>
		<form action="/events">
			<h1></h1>

		</form>
	</div>
{% endblock %}
