{% extends 'base.html' %}

{% block head %}
	<title>Value Page</title>
	<h1>Calculated Value</h1>
{% endblock %}

{% block body %}
	<h1>hello</h1>
{% endblock %}




def event():
	if request.method == 'POST':
		ty = request.form('type')
		val = request.form('value')
		new_task = Todo(content=task_content)
		return render_template('index.html')

	try:
        db.session.add(new_task)
        db.session.commit()
        eve = Todo.query.order_by(Todo.date_created).all()
        return redirect('/value')
    except:
        return 'There was an issue adding your task'

    else:
        tasks = Todo.query.order_by(Todo.date_created).all()
        return render_template('index.html', tasks=tasks)